<div class="alert alert-danger alert-dismissible fade show sticky-top" role="alert" id="errorAlert"
    style="display: none;">
    <strong>Message: </strong> User Already Exists.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show sticky-top" role="alert" id="invalidAlert"
    style="display: none;">
    <strong>Message: </strong> User not found.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show sticky-top" role="alert" id="invalidCaptchaAlert"
    style="display: none;">
    <strong>Message: </strong> Please, Check the Captcha.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-success alert-dismissible fade show sticky-top" role="alert" id="successAlert"
    style="display: none;">
    <strong>Message: </strong> Operation Successful.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show sticky-top" role="alert" id="invalidOTPAlert"
    style="display: none;">
    <strong>Message: </strong> Wrong OTP.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show sticky-top" role="alert" id="someWrongAlert"
    style="display: none;">
    <strong>Message: </strong> Something went wrong. Please, Try after sometime.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-warning alert-dismissible fade show sticky-top" role="alert" id="comintgSoonAlert"
    style="display: none;">
    <strong>Message: </strong> Service not available.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show sticky-top" role="alert" id="otpExpiresAlert"
    style="display: none;">
    <strong>Message: </strong> OTP expried.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-success alert-dismissible fade show sticky-top" role="alert" id="accountCreatedAlert"
    style="display: none;">
    <strong>Message: </strong> Your Account Created Successfully. Now you can login.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show sticky-top" role="alert" id="invalidFileAlert"
    style="display: none;">
    <strong>Message: </strong> Inappropriate file.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger alert-dismissible fade show sticky-top" role="alert" id="fileSizeAlert"
    style="display: none;">
    <strong>Message: </strong> File size should be less than <b>1 MB</b>.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>