{{> admin_navbar}}
{{> alerts}}

{{!-- jQuery filer --}}
<link rel="stylesheet" href="/libs/jquery_filer/css/jquery.filer.css">
<script src="/libs/jquery_filer/js/jquery.filer.js"></script>

<div class="container my-4">
    <div class="border rounded p-4">
        <h4 class="text-center">
            <i class="fas fa-plus-circle"></i> &nbsp; Add Template
        </h4>

        <form id="admin-form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Template Name: </label>
                <input type="text" class="form-control" name="name" id="name" required
                    placeholder="Enter Template name">
            </div>
            <div class="form-group">
                <label for="email">Folder Name: </label>
                <input type="text" class="form-control" name="foldername" id="foldername" required
                    placeholder="Enter Folder name">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="2" placeholder="Type here..."
                    required></textarea>
            </div>
            <div class="form-group mt-4">
                <div class="custom-file">
                    <label for="templateImage">Choose Template Image</label>
                    <input type="file" name="templateImage" id="templateImage" required>
                </div>
            </div>
            <div style="margin-top: 86px;">
                <div class="form-group mt-4" id="submitBtn">
                    <button type="submit" class="btn-primary btn-block">Add Template</button>
                </div>
                <div class="form-group mt-4" id="spinnerSubmitBtn" style="display: none;">
                    <button class="btn btn-primary btn-block text-uppercase" disabled>
                        <span class="spinner-border spinner-border-sm"></span>
                        Loading..
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{{!-- CKEDITOR 4 --}}
<script src="/libs/ckeditor/ckeditor.js"></script>

<script>
    // Ckeditor
    CKEDITOR.replace('description');

    // jQUery filer
    $('#templateImage').filer({
        showThumbs: true,
        addMore: false,
        allowDuplicates: false,
    });

    $('.jFiler-input').css('width', '100%');

    const form = document.getElementById('admin-form');
    const submitBtn = document.getElementById('submitBtn');
    const spinnerSubmitBtn = document.getElementById('spinnerSubmitBtn');
    const someWrongAlert = document.getElementById('someWrongAlert');
    const errorAlert = document.getElementById('errorAlert');
    const successAlert = document.getElementById('successAlert');
    const invalidFileAlert = document.getElementById('invalidFileAlert');

    form.addEventListener('submit', addAdmin);

    async function addAdmin(e) {
        e.preventDefault();

        submitBtn.style.display = 'none';
        spinnerSubmitBtn.style.display = 'block';

        const name = document.getElementById('name').value;
        const foldername = document.getElementById('foldername').value;
        const description = CKEDITOR.instances['description'].getData();
        const templateImage = document.getElementsByTagName("input")[2].files[0];

        const formData = new FormData();

        formData.append('name', name);
        formData.append('foldername', foldername);
        formData.append('description', description);
        formData.append('templateImage', templateImage);

        const result = await fetch('/admin/addTemplate', {
            method: 'POST',
            body: formData
        }).then((res) => res.json());

        spinnerSubmitBtn.style.display = 'none';
        submitBtn.style.display = 'block';

        if (result.status == 'ok') {
            successAlert.style.display = 'block';
            setTimeout(() => {
                successAlert.style.display = 'none';
            }, 5000);
        } else {
            if (result.error == "already_exists") {
                errorAlert.style.display = 'block';
                setTimeout(() => {
                    errorAlert.style.display = 'none';
                }, 5000);
            } else if (result.error == 'invalid_image') {
                invalidFileAlert.style.display = 'block';
                setTimeout(() => {
                    invalidFileAlert.style.display = 'none';
                }, 5000);
            } else {
                someWrongAlert.style.display = 'block';
                setTimeout(() => {
                    someWrongAlert.style.display = 'none';
                }, 5000);
            }
        }
    }
</script>