<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    
     

    <!-- Bootstrap 4.6 Libs -->
    <link rel="stylesheet" href="/libs/bs4/css/bootstrap.min.css">
    <script src="/libs/bs4/jquery-3.5.1.min.js"></script>
    <script src="/libs/bs4/popper.min.js"></script>
    <script src="/libs/bs4/js/bootstrap.min.js"></script>

    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous" />
    
    <!-- Lato font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- Default files -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>

<body>    
   {{{body}}}
</body>

</html>